.u-center-text {
  text-align: center;
}

//Has our h2 will bw used in different places,with different margins
//We should have another specific utilie class
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
